/* BASIC STYLES */
:root {
  --primary: #46c3d3;
  --hover: #1e656e;
  --error: #d70303;
}
body {
  background: #ededed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura, sans-serif;
}
header {
  background: var(--primary);
  color: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 10px;
  font-family: futura, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

/* HOME PAGE STYLES */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.note-details {
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
.note-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.note-details p {
  margin: 0 0 10px 0;
  font-size: 1rem;
  color: #555;
}
.note-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* NOTE FORM */
.create {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
.create h3 {
  margin-top: 0px;
  color:#46C3D3;
  font-size: 1.2rem;
}
label, input {
  display: block;
  font-size: 1rem;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: futura, sans-serif;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
form button:hover {
  background-color: var(--hover);
  transition: all 0.3s;
}
div.error {
  padding: 10px;
  background: #fed5d5;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1.5px solid var(--error);
}
.trash {
  color: #46C3D3;
  height: 1.5rem;
  width: auto;
}
.trash:hover {
  color: var(--hover);
}

/* LOGIN AND SIGNUP FORMS */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

/* MOBILE STYLES */
@media (max-width: 720px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .trash {
    color: #46C3D3;
    height: 1.2rem;
    width: auto;
  }
}

