/* BASIC STYLES */
:root {
  --primary: #46C3D3;
  --error: #d70303;
}
body {
  background: #ededed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura, sans-serif;
}
header {
  background: var(--primary);
  color: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* HOME PAGE STYLES */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.note-details {
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.note-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.note-details p {
  margin: 0 0 10px 0;
  font-size: 0.9em;
  color: #555;
}
.note-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #ededed;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* NOTE FORM */
.create {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.create h3 {
  margin-top: 0px;
  color:#46C3D3;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: futura, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #fed5d5;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}